/* Side Panel Styles */
.sidePanel {
    -fx-background-color: #808080;
}

.tf_email_ph {
    -fx-font-size: 14;
}

.profileImage {
    -fx-fit-height: 121.0;
    -fx-fit-width: 124.0;
}

/* Main Panel Styles */
.mainPanel {
    -fx-background-color: white;
}

.lbl_signupTitle {
    -fx-font-size: 34;
    -fx-font-weight: bold;
}

.tf_inputs{
    -fx-pref-height: 35.0;
    -fx-pref-width: 300.0;
}

.btn_signup {
    -fx-pref-height: 25;
    -fx-pref-width: 224;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.cb_acceptTerms {
    -fx-text-fill: #146784;
    -fx-font-size: 10;
    -fx-font-weight: bold;
}

.text_errorMessage {
    -fx-fill: red;
}
.button{
    /*-fx-background-color:#FED700;*/
    -fx-background-color:red;
    -fx-background-radius:50;
}
.button:hover {
    -fx-background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
    -fx-background-color:#ce0100;
}
.button:active {
    -fx-position:relative;
    -fx-top:1px;
}