.list-cell {
    -fx-padding: 10px;
    -fx-border-color: #cccccc;
    -fx-border-width: 0 0 1 0;
}
.list-cell:filled:even {
    -fx-background-color: #f9f9f9;
}
.list-cell:filled:odd {
    -fx-background-color: #ffffff;
}
.label {
    -fx-text-fill: #333333;
}
